*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC",  "WenQuanYi Micro Hei", sans-serif;
}

input{
    border: none;
    outline: none;
    color: #333;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}